include LICENSE.txt
include README.rst
include deployer/*
include deployer/keycloak/*
include deployer/vagrant/*
include deployer/ga4gh/*
include deployer/ga4gh/config/*
include deployer/funnel/*
include deployer/funnel/funnel-node/node-client/*
include deployer/funnel/funnel-node/node-client/public/*
include deployer/funnel/funnel-node/node-resource/*
